name: tests

on:
  push:
    branches:
      - master
      - master-new
  pull_request:

# TODO: enable this
#env:
#  PYTHONWARNINGS: error,default::DeprecationWarning

jobs:
  unit-tests:
    name: unit tests
    runs-on: ${{ matrix.os }}
    timeout-minutes: 1
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, macos-latest]
        #run: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
    steps:
    - uses: actions/checkout@v4
    - name: install uv and dependencies
      run: |
        curl -LsSf https://astral.sh/uv/install.sh | sh
        uv venv
        # TODO: remove setuptools once https://github.com/cython/cython/issues/5751 is fixed
        uv pip install -e .[testing,docs] setuptools
    - run: uv run scons -j8
    - run: uv run pytest .

  static-analysis:
    name: static analysis
    runs-on: ubuntu-24.04
    timeout-minutes: 1
    steps:
    - uses: actions/checkout@v4
    - run: sudo apt install --no-install-recommends -y cppcheck
    - name: setup python
      run: |
        curl -LsSf https://astral.sh/uv/install.sh | sh
        uv venv
        uv pip install -e . pre-commit
    - name: cache pre-commit environments
      uses: actions/cache@v4
      with:
        path: ~/.cache/pre-commit
        key: ${{ runner.os }}-pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
        restore-keys: |
          ${{ runner.os }}-pre-commit-
    - run: uv run pre-commit run --all
