name: tests

on:
  push:
    branches:
      - master
  pull_request:

env:
  RUN: docker run -e PYTHONWARNINGS="error,default::DeprecationWarning" --shm-size 1G --rm opendbc /bin/bash -c
  BUILD: docker buildx build --pull --load --cache-to type=inline --cache-from type=registry,ref=ghcr.io/commaai/opendbc:latest -t opendbc -f Dockerfile .
  #PYTHONWARNINGS: error

jobs:
  unit-tests:
    name: unit tests
    runs-on: ubuntu-latest
    #strategy:
    #  fail-fast: false
    #  matrix:
    #    run: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
    steps:
    - uses: actions/checkout@v4
    - name: Build Docker image
      run: eval "$BUILD"
    - name: Unit tests
      run: ${{ env.RUN }} "pytest -n logical --durations=0"

  static-analysis:
    name: static analysis
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - run: sudo apt install --no-install-recommends -y cppcheck
    - run: pip install -e .
    - uses: pre-commit/action@v3.0.1
